<mat-toolbar class="toolbar-title">
    Controle de Estados
</mat-toolbar>

<mat-card class="card">
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <div class="grid">
        <!-- Nome -->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Ex.: Tocantins" />
          <mat-icon matSuffix>badge</mat-icon>

          @if (form.controls.nome.touched && form.controls.nome.hasError('required')) {
            <mat-error>O nome é obrigatório.</mat-error>
          }
          @if (form.controls.nome.touched && form.controls.nome.hasError('minlength')) {
            <mat-error>Digite pelo menos 3 caracteres.</mat-error>
          }
          @if (form.controls.nome.touched && form.controls.nome.hasError('maxlength')) {
            <mat-hint align="end">Máx. 60 caracteres</mat-hint>
          }
        </mat-form-field>

        <!-- Sigla -->
        <mat-form-field appearance="outline">
          <mat-label>Sigla (UF)</mat-label>
          <input
            matInput
            formControlName="sigla"
            maxlength="2"
            placeholder="Ex.: TO"
            (input)="onSiglaInput($event)"
          />
          <mat-icon matSuffix>flag</mat-icon>

          @if (form.controls.sigla.touched && form.controls.sigla.hasError('required')) {
            <mat-error>A sigla é obrigatória.</mat-error>
          }
          @if (form.controls.sigla.touched && form.controls.sigla.hasError('pattern')) {
            <mat-error>Use exatamente 2 letras maiúsculas (A–Z).</mat-error>
          }
          <mat-hint align="end">{{ form.controls.sigla.value?.length ?? 0 }}/2</mat-hint>
        </mat-form-field>

        <!-- Regial -->
        <mat-form-field appearance="outline">
          <mat-label>Região</mat-label>
          <mat-select formControlName="idRegiao" placeholder="Selecione">
            <mat-option [value]="null" disabled="true">Selecione ...</mat-option>
            @for (r of regioes; track r.id) {
              <mat-option [value]="r.id">{{r.nome}}</mat-option>
            }
          </mat-select>
          @if (form.controls.idRegiao.touched && form.controls.idRegiao.hasError('required')) {
            <mat-error>A Região deve ser selecionada.</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="actions">
        <button 
          mat-raised-button
          routerLink="/estados">
          Cancelar
        </button>

        <button 
          mat-raised-button 
          color="warn" 
          (click)="excluir()"
          [disabled]="!form.value.id">
          Excluir
        </button>

        <button 
          mat-raised-button 
          color="primary" 
          (click)="salvar()"
          [disabled]="form.invalid">
          Salvar
        </button>

      </div>
    </form>
  </mat-card-content>
</mat-card>
